@use './common_css/Variables.scss';

// 세로 헤더
* {
  padding: 0;
  margin: 0;
  text-decoration: none;  
  font-size: 20px;
  color: black;
}

#vertical {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: Variables.$vertical_header_width;
  background-color: aqua;
  align-items: flex-start;
  height: calc(100% - #{Variables.$horizontal_header_height});
  position: fixed;
  bottom: 0;

  .wrapTopLink{
    margin-top: 20px;
    display: block;
    height: inherit;

    .top_link > div{
      margin-bottom: 10px;
      font-weight: 700;
    }
  }
}