// 헤더 레이아웃(디자인 제외)
* {
  padding: 0;
  margin: 0;
  text-decoration: none;  
  font-size: 20px;
  color: black;
}

#link_header{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 700;
  width: 100vw;
  height: 10vh;
  position: fixed;
  background-color: antiquewhite;
  top: 0px;
  
  .wrap {
    line-height: 10vh;
    

    &.left_link{
      margin-left: 3em;
      
    }

    &.right_link{
      margin-right: 3em;
    }
  }
}