// 루트 css

$vertical_header_width:250px;
$horizontal_header_height:10vh;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;  
  font-size: 20px;
  color: black;
}

// 헤더 컴포넌트 제외! 모든 페이지의 컴포넌트 표시할 위치, 공간 세로, 가로 길이 설정 
.components_space{
  width: calc(100vw - 250px);
  height: calc(100vh - 10vh);
  margin-left: $vertical_header_width;
  margin-top: $horizontal_header_height;
  position: static;
  overflow: hidden;
  display: flex;
  // justify-content: center; -> css 중앙 배치가 깨짐(어디서 부터 어디까지 영향을 미치는지 알고 싶음)
  align-items: center;
  flex-direction: column;
}